@{
    ViewData["Title"] = "Solare";
}

<div class="content">
    <h1>Bem-vindos à SOLAR-E</h1>
    <p>A melhor plataforma para quem quer contribuir com a sustentabilidade.</p>
    <a class="btn btn-primary" asp-area="" asp-controller="Simulacao" asp-action="Index">Simulacao</a>
</div>

<link href="~/css/index.css" rel="stylesheet" />