@model Solare.App.ViewModels.SimulacaoViewModel

<div class="form-group">
    <label asp-for="EnderecoSimulacao.Cep" class="control-label"></label>
    <input asp-for="EnderecoSimulacao.Cep" class="form-control" />
    <span asp-validation-for="EnderecoSimulacao.Cep" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="EnderecoSimulacao.Logradouro" class="control-label"></label>
    <input asp-for="EnderecoSimulacao.Logradouro" class="form-control" />
    <span asp-validation-for="EnderecoSimulacao.Logradouro" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="EnderecoSimulacao.Numero" class="control-label"></label>
    <input asp-for="EnderecoSimulacao.Numero" class="form-control" />
    <span asp-validation-for="EnderecoSimulacao.Numero" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="EnderecoSimulacao.Complemento" class="control-label"></label>
    <input asp-for="EnderecoSimulacao.Complemento" class="form-control" />
    <span asp-validation-for="EnderecoSimulacao.Complemento" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="EnderecoSimulacao.Bairro" class="control-label"></label>
    <input asp-for="EnderecoSimulacao.Bairro" class="form-control" />
    <span asp-validation-for="EnderecoSimulacao.Bairro" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="EnderecoSimulacao.Cidade" class="control-label"></label>
    <input asp-for="EnderecoSimulacao.Cidade" class="form-control" />
    <span asp-validation-for="EnderecoSimulacao.Cidade" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="EnderecoSimulacao.Estado" class="control-label"></label>
    <input asp-for="EnderecoSimulacao.Estado" class="form-control" />
    <span asp-validation-for="EnderecoSimulacao.Estado" class="text-danger"></span>
</div>

