@model IEnumerable<Solare.App.ViewModels.SimulacaoViewModel>

@{
    ViewData["Title"] = "Lista de Simulações";
}

<h1>@ViewData["Title"]</h1>
<hr />
<vc:Summary></vc:Summary>
<p>
    <a class="btn btn-info" asp-action="Create">Nova Simulacao</a>
</p>
<partial name="_ListaSimulacoes" />
