@{
    ViewData["Title"] = "Solare";
}

<div class="content">
    <h1>Obrigado por escolher a SOLAR-E</h1>
    <p>Logo algum de nossos agentes irá entrar em contato com você para dar continuidade no seu processo.</p>
</div>

<link href="~/css/index.css" rel="stylesheet" />
